.header {
    background-color: $lightPink;
    background-image: url("../img/promo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 10% 0;
    position: relative;
    height: 764px;
}